<mat-card class="mat-card">
  <a [routerLink]="['/products', product.id]">
    <article class="product-card-wrapper">
      <div class="product-img-wrapper">
        <img mat-card-image [src]="product.image" alt="Photo of a Shiba Inu" />
      </div>
      <mat-card-content class="product-content d-flex d-flex-center">
        <span class="product-category">{{ product.category }}</span>
        <h3>{{ product.title | slice : 0 : 40 }}</h3>
      </mat-card-content>
      <mat-card-footer>
        <div class="product-price">
          <span>
            {{ product.price | usdToEgp | currency : "EGP " }}
          </span>
        </div>
      </mat-card-footer>
    </article>
  </a>
</mat-card>
