<main class="section">
  <div class="container d-flex d-flex-center">
    <form
      class="d-flex d-flex-col auth-form"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" fullWidth formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Password"
          type="password"
          fullWidth
          formControlName="password"
        />
      </mat-form-field>

      <button
        mat-raised-button
        class="auth-form-btn"
        type="submit"
        [disabled]="loginForm.status.toLowerCase() === 'invalid'"
        fullWidth
      >
        Login
      </button>
    </form>
  </div>
</main>
