.social-links-container {
  gap: 1rem;
  display: flex;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 1008px) {
    display: none !important;
  }
}
