nav {
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 4em;
  width: 100%;
  padding: 1rem 2rem;
  background-color: var(--bg-clr-2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.nav-container {
  justify-content: space-between;
  position: relative;
  height: 100%;
}

.logo {
  font-weight: 700;
  gap: 0.5rem;
  font-size: 1.5rem;
  align-items: center;
}
.sidebar-btn {
  font-size: 1.75rem;
  display: none;
  @media screen and (max-width: 1008px) {
    display: block;
  }
  @media (max-width: 450px) {
    font-size: 1.35rem;
  }
}
