<main class="section">
  <div class="container d-flex d-flex-center">
    <form
      class="d-flex d-flex-col"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field
        appearance="outline"
        *ngFor="let textField of registerationFormFields"
      >
        <mat-label>{{ textField.name }}</mat-label>
        <input
          matInput
          [placeholder]="textField.placeHolder"
          fullWidth
          [formControlName]="textField.name"
          [type]="textField.type"
        />
      </mat-form-field>

      <button
        mat-raised-button
        class="auth-form-btn"
        type="submit"
        [disabled]="registerForm.status.toLowerCase() === 'invalid'"
        fullWidth
      >
        Register
      </button>
    </form>
  </div>
</main>
