<footer>
  <div class="container d-flex d-flex-col footer-content-wrapper">
    <header class="d-flex d-flex-col">
      <h3>Get the FreshCart app</h3>
      <p class="mat-subtitle">
        we will send you a link, open it on your phone to download the app.
      </p>
    </header>
    <form
      class="app-link-form d-flex"
      [formGroup]="appLinkForm"
      (ngSubmit)="onSubmit()"
    >
      <input
        placeholder="Email.."
        class="app-link-email-field"
        formControlName="email"
      />
      <button mat-raised-button [disabled]="appLinkForm.invalid">
        share app link
      </button>
    </form>
    <div class="form-hint">
      <span *ngIf="displayErrorMessage('email')">{{
        emailValidationError
      }}</span>
    </div>
    <div>
      <hr />
      <div class="d-flex payment-partners-wrapper">
        <h4>payment partners</h4>
        <img
          *ngFor="let partner of paymentPartnersLogos"
          [alt]="partner.alt"
          [src]="partner.image"
          trackBy="trackByFn"
        />
      </div>

      <div></div>

      <hr />
    </div>
  </div>
</footer>
