section {
  padding-left: 2rem;
  padding-right: 2rem;
}
.product-wrapper {
  display: flex;
  align-items: center;
  gap: 6rem;
  .img-wrapper {
    flex-basis: 25%;
    @media (max-width: 818px) {
      flex-basis: 30%;
    }
  }
  img {
    max-width: 100%;
    height: auto;
    width: 300px;
  }

  @media (max-width: 753px) {
    flex-direction: column;
  }
}
.product-content {
  flex-basis: 70%;
  @media (max-width: 818px) {
    flex-basis: 65%;
  }
}

.product-price {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}
.product-price span {
  font-weight: 400;
}

.new-price span {
  color: #7ab730;
  font-weight: 700;
}
.product-detail h2 {
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: 0.6rem;
}
.product-detail p {
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
}
.product-detail ul {
  margin: 1rem 0;
  font-size: 0.9rem;
}
.product-detail ul li {
  margin: 0;
  list-style: none;
  /* background: url(shoes_images/checked.png) left center no-repeat; */
  background-size: 18px;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
}
.product-detail ul li span {
  font-weight: 400;
}
.purchase-info {
  margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn {
  border: 1.5px solid #ddd;
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
}
.purchase-info input {
  width: 60px;
}
.purchase-info .btn {
  cursor: pointer;
  color: #fff;
  margin-bottom: 0;
}

.purchase-info .btn:last-of-type {
  background: #f64749;
}
.purchase-info .btn:hover {
  opacity: 0.9;
}
