<section class="section">
  <div class="container d-flex d-flex-center">
    <!-- <div *ngIf="noProductFound; else productWrapper">product not found</div> -->
    <div *ngIf="productDetails.image" #productWrapper>
      <div class="product-wrapper">
        <!-- card left -->
        <div class="img-wrapper">
          <img [src]="productDetails.image" [alt]="productDetails.title" />
        </div>
        <!--  -->
        <!-- card right -->
        <article class="product-content">
          <h2 class="mat-h2 mat-title">{{ productDetails.title }}</h2>
          <app-product-reviews
            [productRating]="productDetails.rating"
          ></app-product-reviews>
          <p class="new-price product-price">
            {{ productDetails.price | usdToEgp | currency : "EGP " }}
          </p>

          <div class="product-detail">
            <p>
              {{ productDetails.description }}
            </p>
          </div>

          <div class="purchase-info">
            <input
              type="number"
              min="1"
              name="quantity"
              [(ngModel)]="productQuantity"
            />
            <button (click)="onAddToCart()" type="button" class="btn">
              Add to Cart <i class="fas fa-shopping-cart"></i>
            </button>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
