<main class="section">
  <div class="container">
    <div
      class="alert alert-danger"
      *ngIf="!productDetails; else productWrapper"
    >
      product not found
    </div>
    <ng-template #productWrapper>
      <div class="product-wrapper">
        <!-- card left -->
        <img [src]="productDetails.image" [alt]="productDetails.title" />
        <!--  -->
        <!-- card right -->
        <article class="product-content">
          <h1 class="mat-display-5">hello</h1>
          <h2 class="mat-h2 mat-title">{{ productDetails.title }}</h2>
          <app-product-reviews
            [productRating]="productDetails.rating"
          ></app-product-reviews>
          <!-- ------------------------------------- -->
          <div class="product-price">
            <p class="new-price">
              <span>{{ productDetails.price }} EGP</span>
            </p>
          </div>

          <div class="product-detail">
            <p>
              {{ productDetails.description }}
            </p>
          </div>

          <div class="purchase-info">
            <input
              type="number"
              min="1"
              name="quantity"
              [(ngModel)]="productQuantity"
            />
            <button (click)="onAddToCart()" type="button" class="btn">
              Add to Cart <i class="fas fa-shopping-cart"></i>
            </button>
          </div>
        </article>
      </div>
    </ng-template>
  </div>
</main>
